# Telegram bot token from @BotFather
BOT_TOKEN=PASTE_YOUR_TOKEN_HERE

# Optional Mini App URL override (full URL)
# WEB_APP_URL_OVERRIDE=https://ц32323/43343/?v=20260411_1

# Optional GitHub Pages URL constructor variables
# GITHUB_PAGES_OWNER=
# GITHUB_PAGES_REPO=
# WEB_APP_VERSION=20260411_1
